.plan-item {
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;    
    &:hover{
        background-color: beige;
    }
}

.plan-item ul {
    text-align: left;
}

.plan-item hr {
    margin: 0 0 0 0;
}


