<div class="form-group">
    <label>{{ titulo }}</label>
    <div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [name]="nombre" [id]="nombre+'1'" value="1" [(ngModel)]="valor" (change)="myChange()">
            <label class="form-check-label" [for]="nombre+'1'">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [name]="nombre" [id]="nombre+'2'" value="2" [(ngModel)]="valor" (change)="myChange()">
            <label class="form-check-label" [for]="nombre+'2'">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [name]="nombre" [id]="nombre+'3'" value="3" [(ngModel)]="valor" (change)="myChange()">
            <label class="form-check-label" [for]="nombre+'3'">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [name]="nombre" [id]="nombre+'4'" value="4" [(ngModel)]="valor" (change)="myChange()">
            <label class="form-check-label" [for]="nombre+'4'">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [name]="nombre" [id]="nombre+'5'" value="5" [(ngModel)]="valor" (change)="myChange()">
            <label class="form-check-label" [for]="nombre+'5'">5</label>
        </div>
    </div>
    <small *ngIf="leyenda && leyenda.length > 0" class="form-text text-muted">{{ leyenda }}</small>
</div> 