<div class="row">
    <div class="col">
        <app-ubicator [rutas]="ruta"></app-ubicator>
    
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit(eventForm.value)">

            <div class="form-group">
                <label for="empresa">Empresa</label>
                <select class="form-control" id="empresa" aria-describedby="empresaHelp" formControlName="company">
                    <option value="">Seleccione</option>
                    <option value="opt1">Opcion #1</option>
                </select>
                <small id="empresaHelp" class="form-text text-muted">Debes seleccionar la empresa para el evento.</small>
            </div>
            <div class="form-group">
                <label for="empresa">Comentarios</label>
                <textarea class="form-control"  formControlName="comments"></textarea>
                <small id="empresaHelp" class="form-text text-muted">Debes seleccionar la empresa para el evento.</small>
            </div>
            <div class="form-group">
                <label for="fechaVisita">Fecha Visita</label>
                <div class="input-group">
                  <input class="form-control" aria-describedby="fehcaVisitaHelp" placeholder="dd-mm-yyyy" name="dp" navigation="arrows" ngbDatepicker #d="ngbDatepicker" formControlName="startDate">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                  </div>
                </div>
                <small id="fehcaVisitaHelp" class="form-text text-muted">La fecha de visita es el cuando del evento.</small>
            </div>
            <div class="form-group">
                <label for="horaVisita">Hora Visita</label>
                <select class="form-control" id="horaVisita" aria-describedby="horaVisitaHelp" formControlName="startHour">
                    <option value="">Seleccione</option>
                    <option *ngFor="let hora of horasDelDia" [value]="hora">{{ hora }}</option>
                </select>
                <small id="horaVisitaHelp" class="form-text text-muted">La hora de visita es en formato 24 h.</small>
            </div>


            <div class="bg-light py-md-2">
                <button class="btn btn-primary mx-md-1" type="submit">Guardar</button>
                <button class="btn btn-secondary" type="button" (click)="gotToHome()">Volver</button>
            </div>
        </form>
    </div>
</div>
