<div class="row">
  <div class="col">
      <app-companias-asociadas (seleccion)="handleCompanyChange($event)" (limpia)="hndleCompanyClear()"></app-companias-asociadas>
  </div>
</div>

<full-calendar
      #calendar
      defaultView="dayGridMonth"
      [header]="{
        left: 'prev,next today',
        center: 'title',
        right: ''
      }"
      [plugins]="calendarPlugins"
      [events]="calendarEvents"
      (dateClick)="handleDateClick($event)"
      (eventClick)="handleEventClick($event)"
      [locale]="locale"
    ></full-calendar>